html, body {
  height: 100%;      
  margin: 0;          
}

body {
  background: linear-gradient(to bottom, #b70077, #feb47b);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.q,.w{
    text-align: center;
    color: aliceblue;
}
.a{
    color: aliceblue;
}